<div class="login-container">
    <div class="login-box">
        <h2>Registro</h2>
        <form (ngSubmit)="register()">
            <input type="email" [(ngModel)]="user.email" placeholder="Correo" required name="email" />
            <input type="password" [(ngModel)]="user.password" placeholder="Contraseña" required name="password" />
            <select [(ngModel)]="user.rol" name="rol">
                <option value="admin">Administrador</option>
                <option value="profesor">Profesor</option>
                <option value="estudiante">Estudiante</option>
            </select>
            <button type="submit">
                <i class="fas fa-user-plus"></i> Registrarse
            </button>
        </form>
    </div>
</div>
