<div class="container mt-5" *ngIf="matricula">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header text-center">
          Detalle de Matrícula
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>ID: </b>{{matricula.id}}</li>
          <li class="list-group-item"><b>Código: </b>{{matricula.codigo}}</li>
          <li class="list-group-item"><b>Fecha de Inscripción: </b>{{matricula.fechaInscripcion | date}}</li>
          <li class="list-group-item"><b>Calificación Final: </b>{{matricula.calificacionFinal}}</li>
        </ul>
        <div class="card-footer">
          <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
