<div class="container">
    <div class="row mt-5" *ngIf="profesor">
        <div class="col-md-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center">
                    Detalle del Profesor
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID: </b>{{profesor.id}}</li>
                    <li class="list-group-item"><b>Nombre: </b>{{profesor.nombre}}</li>
                    <li class="list-group-item"><b>Fecha de Contratación: </b>{{profesor.fechaContratacion | date}}</li>
                    <li class="list-group-item"><b>Departamento: </b>{{profesor.departamento.nombre}}</li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
